<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


  <div class="page-header">
  
  <img src="http://windsorhotel.pl/media/1452/odpoczynek-nad-woda-biznes.jpg" width="584" height="271"  style="margin-left: 0px; margin-right: 0px" align="right"/>
	<br><br><br>
			W utworzonej ankiecie, zapytaliśmy studentów AGH o to, z kim i gdzie mieszkają oraz o ilość posiadanego wolnego czasu i sposób jego spędzania. 
			Wzięliśmy pod uwagę zarówno aktywny wypoczynek jak i spędzanie czasu przed komputerem, w tym na korzystanie z mediów społecznościowych.<br>
			Istotnym elementem naszej ankiety jest określenie  źródła utrzymania studentów, oraz kwoty, jaką co tydzień przeznaczają na wypoczynek.   
			Zebrane dane pomogą określić jaką ilość wolnego czasu posiadają studenci, na co lubią go przeznaczać, oraz jak te dane zmieniają się w zależności od płci i roku studiów.
	
	</div>
{% endblock %}
